<div class="container mx-auto px-4 rounded-lg bg-blue-900 bg-opacity-60 p-6">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Conectando en la Tierra</h2>
      <p class="text-lg md:text-xl mb-4">Soy un apasionado desarrollador con base en San Francisco de Macorís, República Dominicana. Me encanta crear soluciones web y móviles innovadoras.</p>
       <p class="text-md md:text-lg mb-4">Fuera del código, disfruto de la música (Ricardo Arjona es un favorito, ¡pero escucho de todo!) y solía practicar calistenia.</p>
      <p class="text-lg md:text-xl font-semibold">¿Interesado en colaborar?</p>
      <p class="text-md md:text-lg">Puedes encontrarme en [Tu Enlace a LinkedIn/GitHub/Email - ¡Añádelos aquí!]</p>
      </div>